<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <div class="container">
        <div class="swagger-ui-info">
            <p>Check out the <a href="/swagger-ui" target="_blank">Swagger UI</a> for API documentation and testing.</p>
        </div>
        <h1>Search for Legacy Verified Twitter Accounts</h1>
        <input type="text" id="search-input" placeholder="Start typing to list" />
        <div id="results"></div>
        <div class="github-sponsors">
            <p>Enjoying this app? Consider supporting me on <a href="https://github.com/sponsors/gdams" target="_blank">GitHub Sponsors</a>!</p>
        </div>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
